<!DOCTYPE html>
<html>
<head>
<style type="text/css">

.row{margin-left: 40%;}
section#button{margin-left: 20%}
</style>
</head>

<body>
 <%= simple_form_for(@post,{ class: 'form-horizontal'}) do |f| %>
 <div class="row" align="left">
	 <div class="field">
    <%= f.label :category %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	 	<%= f.collection_select :category_id, Category.all, :id, :name, {promt: "Choose a category" }, input_html: { class: "dropdown-toggle" } %></br>

	 	<%= f.label :title %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  		<%= f.text_field :title, :size => '36x10',placeholder: "Title here" %><br><br>
  		<%= f.label :content %>
   	 	<%= f.text_area :content, :size => '36x10',placeholder: "Content here" %><br>
   	 	<%= f.label :image %>
   	 	<%= f.file_field :image, placeholder: "Image here" %><br>
   	 	
 	 </div>
   <section id="button">
   <%= f.submit "Post",class: "btn btn-primary"  %>
 </section>
</div>
<% end %>
</body>
</html>
