 <!DOCTYPE html>
<html>

<style type="text/css">
div#user_info {background-color:#FFFFFF;height:150px; float: left;}
</style>
</head>
<body>
 
     <div id="post">
         <h1>
            <% @posts.each do |post| %> 
            <p><%= link_to post.title, post%></p>
			      <%= link_to (image_tag post.image.url(:small)), post%>
            <div id ="count and size">
		      	<h2><%= post.comments.count%> Comments</h2> 
			      <h2><%= post.get_likes.size%>Likes</h2>
			      <%- end%>
			      <%= link_to "New Post", new_post_path%>
          </h1>
          
  

 	<div id = "post">
 		
 	</div>

</aside>
</div>
</body>
</html>




