<div id = "post_show">
	<h1><%= @post.title%></h1>
</br>
	<p class = "username" >	
	    
		<%= time_tag @post.created_at %> 
	</p>
	<div class = "clearfix">
		<div class = "post_image_content">
			<%= image_tag @post.image.url(:medium) %>
			<div class = "content">
				<%= @post.content%>
			</div>
			<div class = "data clearfix">
				<div class = "post_data">
				<p class = "username" >	
	   			 	<span><%= link_to @post.user.name, @user%>	</span>		
	   			 	<% if can? :update, @post %>
						<%= link_to "Edit", edit_post_path(@post)%>
					<% end %>
					<% if can? :destroy, @post %>
						<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure to delete the post?"}%>
					<%- end %>
				</p>
        		</div>
        	</br>
        		<div class = "post_info">
        		<p class = "buttons">
          		<span><i class="fa fa-thumbs-o-up"> </i><%= @post.get_likes.size%></span>

          		<span><i class="fa fa-comments-o"></i><%= @post.comments.count%></span>
          	
          
          		<p class = "actions">
							<span>
								<%= link_to like_post_path(@post), method: :get, class: "data" do %>
  								<i class="fa fa-thumbs-o-up"></i>
								<% end %>

							</span>
							<span>
								<%= link_to dislike_post_path(@post), method: :get, class: "data" do %>
  								<i class="fa fa-thumbs-o-down"></i>
								<% end %>

							</span>
						</p>
						<p class = "actions">
							<% if current_user.paneluser?%>
							<%= render 'layouts/static_landing_page'%>
                           <% end %>
						</p>
          	</div>
        </p>
      </div>
		</div>
		<div class = "post_data">

		</div>
		<div id = "random_post">
			Random Posts
			<% if @post.approved? %>
			<div class = "post">
				<div class = "post_image">
					<%=link_to (image_tag @random_post.image.url(:small)), post_path(@random_post)%>
				</div>
				<div class = "post_content">
					<div class = "title">
						<h2>
							<%= link_to @random_post.title, post_path(@random_post)%>
						</h2>
					</div>
					<div class = "data clearfix">
						
						<p class = "username">Posted by <%= @random_post.user.name%></p>
					
						<p class = "buttons">
							<span><i class="fa fa-comments-o"> </i> <%= @random_post.comments.count%></span>
							<span><i class="fa fa-thumbs-o-up"> </i><%= @random_post.get_likes.size%></span>
						</p>
						
					</div>
					</div>
				</div>
			</div>
			<%end%>
		</div>
	</div>
</div>
<div id = "comments">
	<div class = "comment_count">
		<%=  pluralize(@post.comments.count, "Comment")%>
	</div>
	<% @comments.each do |comment| %>
	<div class = "comment">
		<div class = "data clearfix">
		<p class = "username">
			<span><%= link_to comment.user.name, @user%></span>		
		</p>
		</div>
		<div class = "comment_content">
		<%= comment.content%>
		<% if can? :destroy, @comment %>
		<%= link_to "Destroy", post_comment_path(comment.post,comment), method: :delete, data: {confirm: "Are you sure to delete the post?"}%>
		 <% end -%>
	   </div>			
	</div>
	<% end %> 
	</br>
	<div class = "comment_form">
	<p>Reply to the post<p> 
	<%= render "comments/form" %>
    </div>
</div>